@page "/customer-types"
@attribute [Authorize]
@inject DialogService DialogService
@inject AppNotificationService NotificationService
@inject CustomerTypeService CustomerTypeService
@inject UserStateService UserState

<PermissionView Permission="Masterdata.Full">
    <ChildContent>
        <PageTitle>Customer Types</PageTitle>
        <RadzenBreadCrumb>
            <RadzenBreadCrumbItem Path="/" Text="Home" />
            <RadzenBreadCrumbItem Path="/customer-types" Text="Customer Types" />
        </RadzenBreadCrumb>
        <RadzenText TextStyle="TextStyle.H5" class="rz-my-8">Customer Types</RadzenText>

        @if (objList == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <RadzenRow>
                <RadzenColumn Size="12" SizeMD="6">
                    <div class="full-height-container">
                        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="true" FilterMode="FilterMode.Advanced"
                                        AllowSorting="true" PagerHorizontalAlign="HorizontalAlign.Left" Data="@objList" GridLines="DataGridGridLines.Vertical"
                                        ColumnWidth="100%" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single"
                                        @bind-Value=@selectedObjList IsLoading=@isLoading Page="@ShowLoading" class="umh-height-70vh">
                            <EmptyTemplate>
                                <p class="umh-no-records">No records to display.</p>
                            </EmptyTemplate>
                            <HeaderTemplate>
                                @if (UserState.IsSuperAdmin)
                                {
                                    <RadzenButton Text="New" Icon="add" ButtonStyle="ButtonStyle.Primary" Click=@(() => OpenDialog(Guid.Empty))></RadzenButton>
                                }
                            </HeaderTemplate>
                            <Columns>
                                @if (UserState.IsSuperAdmin)
                                {
                                    <RadzenDataGridColumn Context="obj" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Frozen="true" Width="120px">
                                        <Template Context="obj">
                                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Base" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                                          Shade="Shade.Lighter" class="rz-my-1 rz-ms-1" Click="@(args => OpenDialog(obj.TypeId))"
                                                          @onclick:stopPropagation="true" title="Edit" />
                                            <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Base" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                                          Shade="Shade.Lighter" class="rz-my-1 rz-ms-1" Click="@(args => Delete(obj))"
                                                          @onclick:stopPropagation="true" title="Delete" />
                                        </Template>
                                    </RadzenDataGridColumn>
                                }
                                <RadzenDataGridColumn Property="@nameof(CustomerTypeDto.CustomerTypeName)" Title="Customer Type" Frozen="false" />
                            </Columns>
                        </RadzenDataGrid>
                    </div>
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="6">
                    <RadzenCard Variant="Variant.Outlined" class="umh-height-100">
                        <RadzenStack Gap="1rem">
                            <RadzenCard Variant="Variant.Text" class="rz-background-color-primary-lighter rz-color-on-primary-lighter">
                                Customer Type: <b>@selectedObjList.FirstOrDefault()?.CustomerTypeName</b>
                            </RadzenCard>
                            <RadzenTabs>
                                <Tabs>
                                    <RadzenTabsItem Text="Customers">
                                        <RadzenDataGrid @ref="customersGrid" AllowFiltering="true" AllowPaging="true" ShowPagingSummary="true"
                                                        Data="@(selectedObjList.FirstOrDefault()?.Customers)">
                                            <Columns>
                                                <RadzenDataGridColumn Property="@nameof(CustomerDto.CustomerName)" Title="Customer" Width="300px" />
                                                <RadzenDataGridColumn Property="@nameof(CustomerDto.Address)" Title="Address" Width="150px" />
                                                <RadzenDataGridColumn Property="@nameof(CustomerDto.ContactInfo)" Title="Contact Info" Width="150px" />
                                            </Columns>
                                        </RadzenDataGrid>
                                    </RadzenTabsItem>
                                </Tabs>
                            </RadzenTabs>
                        </RadzenStack>
                    </RadzenCard>
                </RadzenColumn>
            </RadzenRow>
        }
    </ChildContent>
    <NotAuthorized>
        <Unauthorized />
    </NotAuthorized>
</PermissionView>

@code {
    RadzenDataGrid<CustomerDto> customersGrid;
    private IEnumerable<CustomerTypeDto>? objList;
    private IList<CustomerTypeDto> selectedObjList;
    private bool isLoading;
    private Guid id;

    protected override async Task OnInitializedAsync()
    {
        await ShowLoading().ConfigureAwait(false);
        await LoadList().ConfigureAwait(false);
    }

    private async Task ShowLoading()
    {
        isLoading = true;
        await Task.Yield();
        isLoading = false;
    }

    private async Task LoadList(Guid? customerTypeId = null)
    {
        var response = await CustomerTypeService.GetAllCustomerTypesAsync().ConfigureAwait(false);
        if (response.IsSuccess)
        {
            objList = response.Data;
            if (customerTypeId != null || customerTypeId != Guid.Empty)
                selectedObjList = new List<CustomerTypeDto>() { objList.FirstOrDefault() };
            else
                selectedObjList = new List<CustomerTypeDto>() { objList.FirstOrDefault(x => x.TypeId == customerTypeId) };
        }
        else
        {
            await NotificationService.ShowError(response.ErrorMessage, response.ErrorTitle);
        }
    }

    private async Task OpenDialog(Guid id)
    {
        var result = await DialogService.OpenAsync<CustomerTypeDialog>("Customer Type",
                    new Dictionary<string, object> { { "ObjId", id } },
                    new DialogOptions()
                    {
                        Width = "50vw",
                        Height = "80vh",
                    });
        // refresh grid if the dialog returns true
        if (result != null)
        {
            await GridReload();
        }
    }

    private async Task GridReload()
    {
        await LoadList();
        await InvokeAsync(StateHasChanged);
    }

    private async Task Delete(CustomerTypeDto obj)
    {
        var confirm = await DialogService.Confirm(
                $"Are you sure you want to remove '{obj.CustomerTypeName}'?",
                "Confirm Remove",
                new ConfirmOptions { OkButtonText = "Yes", CancelButtonText = "No" }
            );

        if (confirm == true)
        {
            var response = await CustomerTypeService.DeleteCustomerTypeAsync(obj.TypeId).ConfigureAwait(false);
            if (response != null)
            {
                await NotificationService.ShowSuccess("Delete Successful");
                // refresh grid
                await LoadList();
            }
            else
            {
                await NotificationService.ShowError("Oops! Something went wrong.");
            }
        }
    }
}