@page "/farms"
@attribute [Authorize]
@inject DialogService DialogService
@inject AppNotificationService NotificationService
@inject FarmService FarmService
@inject UserStateService UserState

<PermissionView Permission="Farm.Full">
    <ChildContent>
        <PageTitle>Farms</PageTitle>
        <RadzenBreadCrumb>
            <RadzenBreadCrumbItem Path="/" Text="Home" />
            <RadzenBreadCrumbItem Path="/farms" Text="Farms" />
        </RadzenBreadCrumb>
        <RadzenText TextStyle="TextStyle.H5" class="rz-my-8">Farms</RadzenText>

        @if (objList == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <RadzenRow>
                <RadzenColumn Size="12" SizeMD="6">
                    <div class="full-height-container">
                        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="true" FilterMode="FilterMode.Advanced"
                                        AllowSorting="true" PagerHorizontalAlign="HorizontalAlign.Left" Data="@objList" GridLines="DataGridGridLines.Vertical"
                                        ColumnWidth="100%" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single"
                                        @bind-Value=@selectedObjList IsLoading=@isLoading Page="@ShowLoading" class="umh-height-70vh">
                            @* <HeaderTemplate>
                                <RadzenButton Text="New" Icon="add" ButtonStyle="ButtonStyle.Primary" Click=@(() => OpenDialog(Guid.Empty))></RadzenButton>
                            </HeaderTemplate> *@
                            <Columns>
                                @if (UserState.IsSuperAdmin)
                                {
                                    <RadzenDataGridColumn Context="obj" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Frozen="true" Width="80px">
                                        <Template Context="obj">
                                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Base" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                                      Shade="Shade.Lighter" class="rz-my-1 rz-ms-1" Click="@(args => OpenDialog(obj.FarmId))"
                                                      @onclick:stopPropagation="true" title="Edit" />
                                        </Template>
                                    </RadzenDataGridColumn>
                                }
                                <RadzenDataGridColumn Property="@nameof(FarmDto.FarmName)" Title="Farm" Frozen="false" Width="400px" />
                                <RadzenDataGridColumn Property="@nameof(FarmDto.Location)" Title="Address" Frozen="false" Width="300px" />
                                <RadzenDataGridColumn Property="@nameof(FarmDto.OwnerName)" Title="Owner" Frozen="false" Width="200px" />
                                @* <RadzenDataGridColumn Property="@nameof(FarmDto.BoundaryJson)" Title="Boundary (JSON)" Frozen="false" Width="200px" /> *@
                                <RadzenDataGridColumn Property="@nameof(FarmDto.Lat)" Title="Latitude" Frozen="false" Width="200px" />
                                <RadzenDataGridColumn Property="@nameof(FarmDto.Lng)" Title="Longitude" Frozen="false" Width="200px" />
                                <RadzenDataGridColumn Property="@nameof(FarmDto.SizeInHectares)" Title="Size (Hectares)" Frozen="false" Width="200px" />
                                <RadzenDataGridColumn Property="@nameof(FarmDto.Notes)" Title="Notes" Frozen="false" Width="200px" />
                            </Columns>
                        </RadzenDataGrid>
                    </div>
                </RadzenColumn>
                <RadzenColumn Size="12" SizeMD="6">
                    <RadzenCard Variant="Variant.Outlined" class="umh-height-100">
                        <RadzenStack Gap="1rem">
                            <RadzenCard Variant="Variant.Text" class="rz-background-color-primary-lighter rz-color-on-primary-lighter">
                                Farm: <b>@selectedObjList.FirstOrDefault()?.FarmName</b>
                            </RadzenCard>
                            <RadzenTabs>
                                <Tabs>
                                    <RadzenTabsItem Text="Zones">
                                        <RadzenDataGrid @ref="zonesGrid" AllowFiltering="true" AllowPaging="true" ShowPagingSummary="true"
                                                        Data="@(selectedObjList.FirstOrDefault()?.FarmZones)">
                                            <Columns>
                                                <RadzenDataGridColumn Property="@nameof(FarmZoneDto.ZoneName)" Title="Zone" Width="300px" />
                                                <RadzenDataGridColumn Property="@nameof(FarmZoneDto.SoilType)" Title="Soil Type" />
                                                <RadzenDataGridColumn Property="@nameof(FarmZoneDto.IrrigationType)" Title="Irrigation Type" />
                                            </Columns>
                                        </RadzenDataGrid>
                                    </RadzenTabsItem>
                                    <RadzenTabsItem Text="Crops">
                                        <RadzenDataGrid @ref="cropsGrid" AllowFiltering="true" AllowPaging="true" ShowPagingSummary="true"
                                                        Data="@(selectedObjList.FirstOrDefault()?.FarmCrops)">
                                            <Columns>
                                                <RadzenDataGridColumn Property="@nameof(FarmCropDto.CropName)" Title="Crop" Width="300px" />
                                                <RadzenDataGridColumn Property="@nameof(FarmCropDto.CropVariety)" Title="Variety" />
                                                <RadzenDataGridColumn Property="@nameof(FarmCropDto.PlantingDate)" Title="Planting Date" />
                                                <RadzenDataGridColumn Property="@nameof(FarmCropDto.EstimatedHarvestDate)" Title="Estimated Harvest Date" />
                                                <RadzenDataGridColumn Property="@nameof(FarmCropDto.ZoneName)" Title="Zone" />
                                            </Columns>
                                        </RadzenDataGrid>
                                    </RadzenTabsItem>
                                    <RadzenTabsItem Text="livestocks">
                                        <RadzenDataGrid @ref="livestocksGrid" AllowFiltering="true" AllowPaging="true" ShowPagingSummary="true"
                                                        Data="@(selectedObjList.FirstOrDefault()?.FarmLivestocks)">
                                            <Columns>
                                                <RadzenDataGridColumn Property="@nameof(FarmLivestockDto.AnimalType)" Title="Livestock" Width="300px" />
                                                <RadzenDataGridColumn Property="@nameof(FarmLivestockDto.Breed)" Title="Breed" />
                                                <RadzenDataGridColumn Property="@nameof(FarmLivestockDto.BirthDate)" Title="Birth Date" />
                                                <RadzenDataGridColumn Property="@nameof(FarmLivestockDto.PurchaseCost)" Title="Purchase Cost" />
                                                <RadzenDataGridColumn Property="@nameof(FarmLivestockDto.PurchaseDate)" Title="Purchase Date" />
                                                <RadzenDataGridColumn Property="@nameof(FarmLivestockDto.Quantity)" Title="Quantity" />
                                            </Columns>
                                        </RadzenDataGrid>
                                    </RadzenTabsItem>
                                    <RadzenTabsItem Text="Staffs">
                                        <RadzenDataGrid @ref="staffsGrid" AllowFiltering="true" AllowPaging="true" ShowPagingSummary="true"
                                                        Data="@(selectedObjList.FirstOrDefault()?.Staffs)">
                                            <Columns>
                                                <RadzenDataGridColumn Property="@nameof(StaffDto.Name)" Title="Contact Info" Width="300px" />
                                                <RadzenDataGridColumn Property="@nameof(StaffDto.ContactInfo)" Title="Contract Date" />
                                                <RadzenDataGridColumn Property="@nameof(StaffDto.HireDate)" Title="Hire Date" />
                                                <RadzenDataGridColumn Property="@nameof(StaffDto.Status)" Title="Status" />
                                            </Columns>
                                        </RadzenDataGrid>
                                    </RadzenTabsItem>
                                    <RadzenTabsItem Text="Contracts">
                                        <RadzenDataGrid @ref="contractsGrid" AllowFiltering="true" AllowPaging="true" ShowPagingSummary="true"
                                                        Data="@(selectedObjList.FirstOrDefault()?.FarmContracts)">
                                            <Columns>
                                                <RadzenDataGridColumn Property="@nameof(FarmContractDto.CustomerName)" Title="Contact Info" Width="300px" />
                                                <RadzenDataGridColumn Property="@nameof(FarmContractDto.ContractDate)" Title="Contract Date" />
                                                <RadzenDataGridColumn Property="@nameof(FarmContractDto.Status)" Title="Status" />
                                            </Columns>
                                        </RadzenDataGrid>
                                    </RadzenTabsItem>
                                    <RadzenTabsItem Text="Inventories">
                                        <RadzenDataGrid @ref="inventoriesGrid" AllowFiltering="true" AllowPaging="true" ShowPagingSummary="true"
                                                        Data="@(selectedObjList.FirstOrDefault()?.FarmInventories)">
                                            <Columns>
                                                <RadzenDataGridColumn Property="@nameof(FarmInventoryDto.InventoryItemName)" Title="Item" Width="300px" />
                                                <RadzenDataGridColumn Property="@nameof(FarmInventoryDto.InventoryUnit)" Title="Unit" />
                                                <RadzenDataGridColumn Property="@nameof(FarmInventoryDto.Quantity)" Title="Quantity" />
                                            </Columns>
                                        </RadzenDataGrid>
                                    </RadzenTabsItem>
                                </Tabs>
                            </RadzenTabs>
                        </RadzenStack>
                    </RadzenCard>
                </RadzenColumn>
            </RadzenRow>
        }
    </ChildContent>
    <NotAuthorized>
        <Unauthorized />
    </NotAuthorized>
</PermissionView>

@code {
    RadzenDataGrid<FarmContractDto> contractsGrid;
    RadzenDataGrid<StaffDto> staffsGrid;
    RadzenDataGrid<FarmZoneDto> zonesGrid;
    RadzenDataGrid<FarmInventoryDto> inventoriesGrid;
    RadzenDataGrid<FarmCropDto> cropsGrid;
    RadzenDataGrid<FarmLivestockDto> livestocksGrid;
    private IEnumerable<FarmDto>? objList;
    private IList<FarmDto> selectedObjList;
    private bool isLoading;
    private Guid id;

    protected override async Task OnInitializedAsync()
    {
        await ShowLoading().ConfigureAwait(false);
        await LoadList().ConfigureAwait(false);
    }

    private async Task ShowLoading()
    {
        isLoading = true;
        await Task.Yield();
        isLoading = false;
    }

    private async Task LoadList(Guid? farmId = null)
    {
        var response = await FarmService.GetAllFarmsAsync().ConfigureAwait(false);
        if (response.IsSuccess)
        {
            objList = response.Data;
            if (farmId != null || farmId != Guid.Empty)
                selectedObjList = new List<FarmDto>() { objList.FirstOrDefault() };
            else
                selectedObjList = new List<FarmDto>() { objList.FirstOrDefault(x => x.FarmId == farmId) };
        }
        else
            await NotificationService.ShowError(response.ErrorMessage, response.ErrorTitle);
    }

    private async Task OpenDialog(Guid id)
    {
        var result = await DialogService.OpenAsync<FarmDialog>("Farm",
                    new Dictionary<string, object> { { "ObjId", id } },
                    new DialogOptions()
                        {
                            Width = "50vw",
                            Height = "80vh",
                        });
        // refresh grid if the dialog returns true
        if (result != null)
        {
            await GridReload();
        }
    }

    private async Task GridReload()
    {
        await LoadList();
        await InvokeAsync(StateHasChanged);
    }

    private async Task Delete(FarmDto obj)
    {
        var confirm = await DialogService.Confirm(
                $"Are you sure you want to remove '{obj.FarmName}'?",
                "Confirm Remove",
                new ConfirmOptions { OkButtonText = "Yes", CancelButtonText = "No" }
            );

        if (confirm == true)
        {
            var response = await FarmService.DeleteFarmAsync(obj.FarmId).ConfigureAwait(false);
            if (response != null)
            {
                await NotificationService.ShowSuccess("Delete Successful");
                // refresh grid
                await LoadList();
            }
            else
            {
                await NotificationService.ShowError("Oops! Something went wrong.");
            }
        }
    }
}
